header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: $white;
  width: 100%;
  font-size: $type-smmd;

  bottom: auto;
  border-bottom: 2px solid $grey;
  border-top: none;
}

.main-nav__li {
  align-self: center;
  display: block;
  padding: 20px;

  h1 {
    font-family: $logo;
    margin: 0;
  }
}